/* Increase logo size in header */
.md-logo img {
    height: 30px !important;      /* Change size here */
    max-height: none !important;   /* Remove default limit */
    width: auto !important;        /* Keep proportions */
}

.md-logo {
    order: 0;      /* Move logo to the left */
    text-decoration: none !important;  /* Remove underline */
}   

.md-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.md-header__title {
    order: 1;      /* Keep title on the left */
    color: black !important;  /* Change this to any colour */
}

.md-header__option {
    order: 2;
    margin-left: auto !important; /* Move search bar to the right */

#.md-header__option[data-md-component="search"] { 
#    margin-left: auto;        /* Push search bar to the right */
#}

#.md-main {
#    background-color: black !important;
#}

