/* Header */
.md-header {
    background-color: #fdd017 !important; /* your header color */
    color: black !important;
}

/* Move logo to right side */
.md-header-nav__title {
    width: 1000%;
    display: flex;
    justify-content: space-between; /* Split title and logo */
    align-items: center;
}
.md-header-nav__title img {
    height: 1000px;
    margin-left: auto;
}

/* Footer */
.md-footer {
    background-color: #fdd017 !important; /* your footer color */
    color: black !important;
}

/* Side menu / navigation panel */
.md-nav__title, 
.md-nav__item, 
.md-nav__link {
    background-color: #fdd017 !important; /* side menu background */
    color: #333333 !important;            /* link text color */
}

/* Optional: hover effect for menu items */
.md-nav__link:hover {
    background-color: #e0d77a !important;
}


