/* Move logo to right side */
.md-header-nav__title {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Split title and logo */
    align-items: center;
}
.md-header-nav__title img {
    height: 100px;
    margin-left: auto;
}

/* Side menu / navigation panel */
.md-nav__title {
    background-color: #FDD835 !important;
    font-weight: bold;
    color: #000 !important;
}
.md-nav__item{
    background-color: #FDD835 !important;
} 
.md-nav__link {
    background-color: #FDD835 !important; /* side menu background */
    color: #333333 !important;            /* link text color */
}

/* Optional: hover effect for menu items */
.md-nav__link:hover {
    background-color: #FDD835 !important;
}

.md-main {
    background-color: white !important;
}

